// custom SCSS (or CSS) goes here

// hide footer
.site-footer {
    display: none !important;
}

// white side-bar
.side-bar {
    background-color: white !important;
}

// site-title no background image on hover
.site-title:hover {
    background-image: none !important;
}

// menu-button no background image on hover
#menu-button:hover {
    background-image: none !important;
    cursor: pointer !important;
}

// nav-list-link styles
.nav-list-link {
    color: #27262b !important;
    background-image: none !important;
    margin-left: 20px !important;
    width: 90% !important;
    height: 100% !important;
}

.nav-list-link:hover {
    color: #27262b !important;
    border-radius: 25px !important;
    background: #CDCDCD !important;
}

.nav-list-link.active {
    color: white !important;
    border-radius: 25px !important;
    background: #7253ed !important;
}

// hide nav-list-expander
.nav-list-expander {
    display: none !important;
}

* {
    /* Remove blue highlight of button on mobile */
    -webkit-tap-highlight-color: transparent;
}

// allow line breaks for links
// .main-content-wrap a {
//     white-space: normal !important;
// }